*, 
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #888;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.section {
  margin: 10px 0;
}


/*
 * SIDEBAR
*/


.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: #111;
  border-left: 1px solid #222;
}

.sidebar .title {
  padding: 15px 0;
  color: #888;
  font-size: 1.5em;
  line-height: 140%;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #222;
}

.menu {
  padding: 0 30px;
}


/*
 * DROP ZONE
*/


#drop_zone {
  width: calc(100% - 300px);
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#drop_zone.highlight {
  border: 2px solid #FFF;
}


/*
 * TIPS POPUP
*/


#popup {
  cursor: pointer;
  position: absolute;
  top: -100px;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  background-color: #111;
  border: 1px solid #222;
  transition: top 1s ease-in-out;
  animation: shadow-pulsar 2s ease-in-out infinite;
}

@keyframes shadow-pulsar {
  0%, 100% {
    box-shadow: 1px 0px 10px 1px rgba(255,255,255,0.75);
    -webkit-box-shadow: 1px 0px 10px 1px rgba(255,255,255,0.75);
    -moz-box-shadow: 1px 0px 10px 1px rgba(255,255,255,0.75);
  }
  50% {
    box-shadow: 1px 0px 10px 1px transparent;
    -webkit-box-shadow: 1px 0px 10px 1px transparent;
    -moz-box-shadow: 1px 0px 10px 1px transparent;
  }
}

#popup.show {
  top: 20px;
}

#popup .title {
  padding: 10px 15px;
  font-size: 1.1em;
  line-height: 130%;
  font-weight: 600;
  color: #888;
  text-transform: uppercase;
  border-bottom: 1px solid #222;
}

#popup .body {
  padding: 10px 15px;
  font-size: 1.2em;
  line-height: 140%;
  font-weight: 400;
  color: #888;
}


/*
 * model-INFO
*/

.model-info {
  display: none;
}

.model-info .titleHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.model-info .titleHolder p {
  font-size: 1.2em;
}

.model-info .titleHolder p:first-of-type {
  line-height: calc(1.2em + 10px);
}

.model-info .titleHolder p:last-of-type {
  background-color: #000;
  border: 1px solid #222;
  padding: 5px 10px;
}